extends ./blocks/nav.pug
block content
  link(rel="stylesheet", href="/css/admin/list-product.css")
  .app-content
    #main
      .app-title
        ul.app-breadcrumb.breadcrumb
          li.breadcrumb-item  Th&#x1ED1;ng k&ecirc;
          #time.ontime
      // <div class="row">
      .tile
        h3.tile-title Danh Sách Hóa Đơn
        table.table.table-bordered.table-hover
          thead.thead-light
            tr
              th(scope='col') ID
              th(scope='col') Giá trị hóa đơn
              th(scope='col') Ngày lập hóa đơn
              th(scope='col') Trạng thái
              th(scope='col') T&iacute;nh n&abreve;ng
          tbody
            each item in bills
              tr            
                td #{item.id}
                td #{item.value}
                td #{item.datestr}

                if(item.status==0)
                  td Chưa xử lý
                if(item.status==1)
                  td Đang giao hàng
                if(item.status==2)
                  td Đã giao hàng
                td
                  a(href=`/admin/bill/show?id=${item.id}`)
                    i.fas.fa-edit.backgrds
      // </div>
  script(src="/js/admin/product.js") 
  

