extends ./blocks/nav.pug
block content
  #main
    .app-title
      ul.app-breadcrumb.breadcrumb
        li.breadcrumb-item  Th&#x1ED1;ng k&ecirc;
        #time.ontime
    // add-chart
    .graphbox
      .box
        input(type="hidden" value=`${chart_count_input}`)#chart_number_input
        canvas#count-chart
      br
      .box
        input(type="hidden" value=`${chart_value_input}` )#chart_value_input
        canvas#earning-chart

  script(src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js") 
  script(src="/js/admin/index.js") 