doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
  link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="/css/admin/nav.css")
  title Admin
body
  #mySidenav.sidenav
    p.logo KTQ
    a.icon-a(href='/admin')
      i.fa.fa-dashboard.icons
      |  &nbsp;&nbsp;Th&#x1ED1;ng k&ecirc;
    a.icon-a(href='/admin/user')
      i.fa.fa-users.icons
      |  &nbsp;&nbsp;Qu&#x1EA3;n l&yacute; Kh&aacute;ch h&agrave;ng
    a.icon-a(href='/admin/bill')
      i.fa.fa-shopping-bag.icons
      |  &nbsp;&nbsp;Qu&#x1EA3;n l&yacute; H&oacute;a &dstrok;&#x1A1;n
    a.icon-a(href='/admin/product')
      i.fa.fa-tasks.icons
      |  &nbsp;&nbsp;Qu&#x1EA3;n l&yacute; ngu&#x1ED3;n h&agrave;ng
    a.icon-a(href='#')
      i.fa.fa-user.icons
      |  &nbsp;&nbsp;T&agrave;i kho&#x1EA3;n
  block content
  #modal-manage.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        #modal-header.modal-header.hover-pointer
        #modal-body.modal-body
  #modal-confirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        #modal-header.modal-header.hover-pointer
        #modal-body.modal-body
 
  script(src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
