
extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/cart.css")
  .shopping-cart
    .main-product-cart
      .wrap-inner-cart
        .cart
          .cart-inner
            .product-inner
              h4.product-title Gi&#x1ECF; h&agrave;ng
              .product-heading
                .row
                  .product-cart-item-1
                    .checkbox-product-all
                  .product-cart-item-2 &Dstrok;&#x1A1;n gi&aacute;
                  .product-cart-item-3 S&#x1ED1; l&#x1B0;&#x1EE3;ng
                  .product-cart-item-4 Th&agrave;nh ti&#x1EC1;n
                  .product-cart-item-5
                    i.far.fa-trash-alt.remove(onclick='removeAllCart()')
            .product-scroller(style='height: auto; overflow-y: hidden;')
              .product-content
                .product-content-inner
                  .seller-container
                    .seller#seller
          .cart-total-price
            .total-inner
              .total-price
                ul.total-price-item
                  li.price-item
                    span.prices-text T&#x1EA1;m t&iacute;nh
                    span.prices-value-before#prices-value-before 0đ
                     
                  li.price-item
                    span.prices-text Giảm giá
                    span.prices-value-discount#prices-value-discount 0đ
                     
                .price-tt
                  span.prices-text T&#x1ED5;ng c&#x1ED9;ng
                  .prices-content
                    span.prices-value-final#prices-value-final 0đ
                    span.prices-value-note (&Dstrok;&atilde; bao g&#x1ED3;m VAT n&#x1EBF;u c&oacute;)
            form#checkout_form(action="/cart/checkout", method="post")
              button(type='submit').cart-submit-button Mua H&agrave;ng (1)
  script(src="/js/shop/cart.js") 
