extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/index.css")
  marquee.marquee(behavior='', direction='')
    img(height='50px', src='https://upanh.cf/xp3t3cqjgc.gif',  loop='infinite')
    | f&dstrok;fgdfgdfgdfg&aacute;dasd
    img(height='50px', src='https://upanh.cf/vj9mk3sfbc.gif', loop='infinite')
    | f&dstrok;fgdfgdfgdfg&aacute;dasd
  .container-fluid.banner
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='https://www.w3schools.com/howto/img_lights_wide.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='https://www.w3schools.com/howto/img_mountains_wide.jpg', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='https://www.w3schools.com/howto/img_5terre_wide.jpg', alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  .container.body-heading
    section.text-container
      h2.text-headline S&#x1EA3;n Ph&#x1EA9;m N&#x1ED5;i B&#x1EAD;t
  .container
    .show-card-tab-inner
      .tab
        ul.tab-list.col-12.col-lg-6
          li.tab__item.tab__item--active &Dstrok;i&#x1EC7;n tho&#x1EA1;i
          li.tab__item Gia d&#x1EE5;ng
          li.tab__item Tai Nghe
          li.tab__item Laptop
  .container.highlight-product
    .row
      .col-lg-3.col-12
        .row
          .col-lg-12.col-6
            .container-item
              .dt-item-img
                a(href='#')
                  span.dt-img
                    img.img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
                .dt-info
                  div
                    a.dt-name(href='#')
                    | iPhone 12 64GB
          .col-lg-12.col-6
            .container-item
              .dt-item-img
                a(href='#')
                  span.dt-img
                    img.img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
                .dt-info
                  div
                    a.dt-name(href='#')
                    | iPhone 12 64GB
      .col-lg-6.col-12
        .container-6
          .dt-item
            .dt-item-img
              a(href='#')
                span.dt-img
                  img(src='/IMG/b.webp', alt='Galaxy S21')
              .dt-info
                div
                  a.dt-name(href='#')
                  | Galaxy S21
      .col-lg-3.col-12
        .row
          .col-lg-12.col-6
            .container-item
              .dt-item-img
                a(href='#')
                  span.dt-img
                    img.img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
                .dt-info
                  div
                    a.dt-name(href='#')
                    | iPhone 12 64GB
          .col-lg-12.col-6
            .container-item
              .dt-item-img
                a(href='#')
                  span.dt-img
                    img.img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
                .dt-info
                  div
                    a.dt-name(href='#')
                    | iPhone 12 64GB
  .container
    .list1
      .headdt-lable
        h3 &Dstrok;i&#x1EC7;n Tho&#x1EA1;i N&#x1ED5;i B&#x1EAD;t
        a.full-view(style='text-decoration: none', href='#') Xem t&#x1EA5;t c&#x1EA3;
      .list1-item
        .col-6.col-lg-3
          .dt-row-item
            .dt-item-img
              a(href='#')
                span.dt-img
                  img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
            .dt-info
              h4
                a.dt-name(href='#')
                | iPhone 12 64GB
              .dt-price
                .price 12.990.000
        .col-6.col-lg-3
          .dt-row-item
            .dt-item-img
              a(href='#')
                span.dt-img
                  img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
            .dt-info
              h4
                a.dt-name(href='#')
                | iPhone 12 64GB
              .dt-price
                .price 12.990.000
        .col-6.col-lg-3
          .dt-row-item
            .dt-item-img
              a(href='#')
                span.dt-img
                  img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
            .dt-info
              h4
                a.dt-name(href='#')
                | iPhone 12 64GB
              .dt-price
                .price 12.990.000
        .col-6.col-lg-3
          .dt-row-item
            .dt-item-img
              a(href='#')
                span.dt-img
                  img(src='/IMG/dt.jpg', alt='iPhone 12 64GB')
            .dt-info
              h4
                a.dt-name(href='#')
                | iPhone 12 64GB
              .dt-price
                .price 12.990.000
    