extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/success.css")
  .success-page
    .success-container
      .icon-check-container
        i.far.fa-check-circle
      .success-content
        .check-content Thank You!
        .check-description C&aacute;m &#x1A1;n b&#x1EA1;n &dstrok;&atilde; mua s&#x1EAF;m t&#x1EA1;i c&#x1EED;a h&agrave;ng
      a.a-btn(href='/')
        .success-btn Ti&#x1EBF;p T&#x1EE5;c Mua S&#x1EAF;m
  script(src="/js/shop/success.js") 