/* header */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.header .header--top {
    padding-top: 7px;
    background-color: #000000;
    height: 35px;
}

.header--top--inner {
    display: flex;
    flex-direction: row-reverse;
}

.header--top--item {
    color: white;
    padding: 2px;
    margin-left: 30px;
}

.header--top--item:hover {
    color: rgb(240, 239, 239);
    text-decoration: none;
}

.header--bottom {
    z-index: 999;
    position: relative;
    width: 100%;
    background-color: rgb(233, 233, 233);

    box-shadow: 0px 3px 3px 0px rgb(54, 54, 54);
}

.header--bottom--inner {
}

.bottom--inner--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom--inner--center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom--inner--right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand span {
    color: rgb(102, 102, 243);
    font-size: 35px;
    font-weight: bolder;
}

.search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: absolute;
    right: 18px;
    background-color: #1435c3;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.search_btn:hover {
    cursor: pointer;
}

.bottom--inner--right .inner--right--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(46, 45, 45);
}

.bottom--inner--right .inner--right--item .icon {
    font-size: 20px;
}

/* detal */
.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
/* .heading-section {
	text-align: center;
	margin-bottom: 20px; */
}
/* .sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}

.brand-name{
    line-height: 12px;
    justify-content: center;
    padding-top: 10px;
    
}

.brand-name a:hover {
    text-decoration: none;
    color: #0f2895;
}

.columm::before{
    margin: 5px 5px 5px 5px;
    
}

.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}

.break-row {
    max-width: 200px;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 10px 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    
    margin-right: 5px;
    margin-left: 5px;
}
.product-count .qtyminus {
	border-radius: 5px 5px 5px 5px; 
}
.product-count .qtyplus {
	border-radius: 5px 5px 5px 5px; 


}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 5px;
    background: #212529;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    margin-left: 20px;
        


}

.round-blacks-btn {
	border-radius: 5px;
    background: #212529;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    /* margin-left: 20px; */
        


}


.round-white-btn {
    border-radius: 5px;
    background: #fff;
    color: #212529;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    margin-left: 5px;
    margin-top: 71px;
    
}

.round-white-btn:hover,
.round-white-btn:focus {
	background: #212529;
	color: #fff;
	text-decoration: none;
}

.round-black-btn:hover,
.round-black-btn:focus {
	background: #fff;
	color: #212529;
	text-decoration: none;
}


.round-blacks-btn:hover,
.round-blacks-btn:focus {
	background: #fff;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 5px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}