.shopping-cart {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(219, 219, 219, 0.616);
}
.shopping-cart .main-product-cart {
    min-height: 1000px;
    width: 100%;
}
.shopping-cart .wrap-intended-cart {
    position: relative;
    min-height: 800px;
    background-color: rgb(211, 154, 113);
}
.shopping-cart .cart {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
.shopping-cart .cart-inner {
    overflow-y: visible;

    width: 910px;
    min-height: 529px;
}
.shopping-cart .cart-total-price {
    width: 315px;
    min-height: 529px;
}
.shopping-cart .product-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 15 px 15px;
    color: rgb(0, 0, 0);
    line-height: 28px;
    text-transform: uppercase;
}
.shopping-cart .product-inner {
    display: inline;
    flex-direction: column;
}

.shopping-cart .product-heading {
    background: rgb(255, 255, 255);
    color: rgb(36, 36, 36);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky;
    top: 20px;
}
.shopping-cart .product-heading::before {
    display: none;
    content: '';
    background: rgb(244, 244, 244);
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -20px;
    right: 0px;
}
.shopping-cart .product-heading::after {
    display: none;
    content: '';
    background: rgb(244, 244, 244);
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0px;
}
.shopping-cart .product-cart-item-1 {
    width: 398px;
    padding: 0px 15px;
}
.shopping-cart .product-cart-item-2 {
    width: 190px;
    padding: 0px 15px;
}
.shopping-cart .product-cart-item-3 {
    width: 130px;
    padding: 0px 15px;
}
.shopping-cart .product-cart-item-4 {
    width: 120px;
    padding: 0px 15px;
}
.shopping-cart .product-cart-item-5 {
    width: 50px;
    text-align: center;
}

.shopping-cart .product-content-inner {
    background-color: #fff;
}
.shopping-cart .seller {
    border-radius: 5px;
}
.shopping-cart .seller-group {
    border-top: 1px solid rgba(182, 179, 179, 0.315);
    border-bottom: 1px solid rgba(182, 179, 179, 0.315);
}
.shopping-cart .seller-title {
    display: block;
    margin-bottom: 10px;
}
.shopping-cart .checkbox-product-seller {
    font-size: 15px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
}
.shopping-cart .checkbox-lable {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
.shopping-cart .item-product-cart {
    list-style: none;
    margin: 15px 0px 0px;
    padding: 0px 16px 3px;
}
.shopping-cart .item-inner {
    margin-bottom: 7.5px;
    display: flex;
    padding-top: 15px;
}
.shopping-cart .content-cart {
    align-items: center;
}
.shopping-cart .content-product {
    width: calc(100% - 100px);
    padding-left: 10px;
    position: relative;
}
.shopping-cart .item-product-inner {
    justify-content: center;
    display: flex;
    background-color: #fff;
    align-items: center;
    margin: auto;
}
.shopping-cart .item-product-img-checkbox {
    margin-left: -6px;
}
.shopping-cart .product-inner {
    margin: auto;
}
.shopping-cart .intended-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    color: rgb(36, 36, 36);
    margin-bottom: 5px;
    line-height: 20px;
    margin-top: -30px;
}
.shopping-cart .real-price {
    font-weight: 500;
    color: rgb(36, 36, 36);
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
}
.shopping-cart .discout-price {
    color: rgb(153, 153, 153);
    display: inline-block;
    font-size: 11px;
}

.shopping-cart .btn-qty {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    align-items: center;
    justify-content: center;
}
.shopping-cart .qty-decrese {
    display: inline-flex;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(120 120 120);
    cursor: pointer;
    width: 27px;
    height: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.shopping-cart .qty-increse {
    border-right: none;
    border-left: 1px solid rgb(200, 200, 200);
    width: 27px;
    text-align: center;
    cursor: pointer;
}
.shopping-cart .qty-input {
    text-align: center;
    max-width: 30px;
    border: none;
    margin-right: 1px;
}
.shopping-cart .qty-limit {
    color: rgb(253, 130, 8);
    font-size: 11px;
    line-height: 16px;
    display: none;
    margin-top: 5px;
}
.shopping-cart .final-price {
    color: rgb(255, 66, 78);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    display: block;
}
.shopping-cart .remove {
    cursor: pointer;
}
.shopping-cart .total-inner {
    margin-top: 35px;
    top: 20px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f4f4f4;
    border-bottom: 2px solid rgb(211, 209, 209);
}
.shopping-cart .total-price {
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
.shopping-cart .total-price-item {
    list-style: none;
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.shopping-cart .price-item {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}
.shopping-cart .price-tt {
    padding: 17px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    text-align: right;
}

.shopping-cart .prices-value-final {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}
.shopping-cart .prices-value-note {
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
}
.shopping-cart .cart-submit-button {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    margin: 15px 0px;
    cursor: pointer;
}
.shopping-cart .product-scroller {
    height: 100%;
    overflow: hidden;
}
.shopping-cart .product-content {
    height: 100%;
    margin-right: -32px; /* maximum width of scrollbar */
    padding-right: 15px; /* maximum width of scrollbar */
    overflow-y: scroll;
}
@media screen and (max-width: 600px) {
    .product-heading {
        display: none;
    }
    .back-card {
        margin-right: 120px;
        padding-left: 10px;
    }
    .product-title {
        line-height: 35px;
        background-color: white;
        margin-bottom: 0px;
        box-shadow: 0px 2px #7b7878;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .shopping-cart {
        max-width: 375px;
        padding-left: 0px;
        padding-right: 0px;
        max-height: 872px;
        height: 872px;
    }
    .main-product-cart {
        width: 100%;
        max-height: 727px;
    }
    .wrap-inner-cart {
        max-height: 700px;
    }
    .cart {
        flex-direction: column;
        max-height: 740px;
        padding: 0;
    }
    .cart-inner {
        max-height: 735px;
        max-width: 100%;
        height: 735px;
        overflow: scroll;
    }
    .content-cart {
        margin-top: 15px;
    }
    .seller-group {
        display: none;
    }
    .item-product-cart {
        padding: 0px 10px 5px;
        margin: 1px 0px 0px;
    }
    .product-cart-item-1 {
        max-width: 375px;
    }
    .product-cart-item-2 {
        max-width: 170px;
    }
    .real-price {
        font-size: 21px;
    }
    .discout-price {
        font-size: 14px;
    }
    .product-cart-item-4 {
        display: none;
    }
    .product-cart-item-5 {
        margin-left: 25px;
    }
    .img-checkbox {
        width: 20px;
        margin-left: 7px;
    }
    .intended-content {
        display: flex;
        align-items: center;
        max-height: 100%;
        padding-top: 33px;
    }
    .cart-total-price {
        max-width: 375px;
        width: 100%;
        display: block;
        height: 100px;
    }
    .total-price-item {
        display: none;
    }
    .price-tt {
        padding: 5px 20px;
        align-items: center;
        height: 50px;
    }
    .cart-submit-button {
        margin-top: 0px;
    }
    .total-inner {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .product-scroller {
        height: 1500px;
        overflow-y: hidden;
    }
    .product-content {
        height: 100%;
        overflow-y: scroll;
    }
}
