@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*:not(i) {
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.header .header--top {
    padding-top: 7px;
    background-color: #000000;
    height: 35px;
}

.header .header--top--inner {
    display: flex;
    flex-direction: row-reverse;
}

.header .header--top--item {
    color: white;
    padding: 2px;
    margin-left: 30px;
}

.header .header--top--item:hover {
    color: rgb(240, 239, 239);
    text-decoration: none;
}

.header .header--bottom {
    z-index: 999;
    position: relative;
    width: 100%;
    background-color: rgb(233, 233, 233);

    box-shadow: 0px 3px 3px 0px rgb(54, 54, 54);
}

.header .header--bottom--inner {
}

.header .bottom--inner--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .bottom--inner--center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .bottom--inner--right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header .brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header .brand .img {
    width: 80px;
    height: 80px;
}
.header .brand span {
    color: rgb(102, 102, 243);
    font-size: 35px;
    font-weight: bolder;
}

.header .search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: absolute;
    right: 18px;
    background-color: #1435c3;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.header .search_btn:hover {
    cursor: pointer;
}
.header .bottom--inner--right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .bottom--inner--right .inner--right--item {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(46, 45, 45);
}

.header .bottom--inner--right .inner--right--item .icon {
    font-size: 20px;
    padding-bottom: 15px;
}
#phone-menu-data {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}
.header .phone-menu-container {
    display: none;
}
@media screen and (max-width: 600px) {
    #phone-menu-data {
        padding-top: 5px;
        display: none;
    }
    .bottom--inner--right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header .bottom--inner--right .inner--right--item {
        display: inline-flex;
    }
    .header .brand .img {
        width: 60px;
        height: 60px;
    }
    .header .brand span {
        display: none;
    }
    .header .header--bottom--inner {
        padding: 0px;
    }

    .header .icon-text {
        display: none;
    }
    .header .phone-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.bg-newletter {
    background-color: #111;
    margin-bottom: 50px;
    margin-top: 100px;
}
.newletter {
    color: #fff;
    padding: 45px 0;
}
.newletter-title {
    display: flex;
    align-items: center;
}
.newletter-title i {
    font-size: 50px;
    margin-right: 15px;
}
.newletter-title span {
    font-size: 26px;
}
.newletter-content input[type='email'] {
    background: none;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #444;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}
.newletter-content input[type='email']::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}
.newletter-content input[type='email']::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}
.newletter-content input[type='email']:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}
.newletter-content input[type='email']:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}
.newletter-content button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #666;
    color: #fff;
    font-size: 14px;
    transition: all 0.4s ease 0s;
}
.newletter-content button:hover {
    background-color: #fff;
    color: #000;
}
.footer {
    font-family: sans-serif;
    font-weight: bold;
}
.about-ft .ttfooter-logo {
    margin: 0 0 15px;
    width: 100%;
}
.about-ft .ttfooter-desc {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 0 auto;
}
.footer-column h5 {
    color: #000000;
    font: 700 18px/20px pop-r;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-transform: capitalize;
}
.footer a {
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}
.footer a:hover {
    color: #000;
}
.footer-store-info ul li i {
    height: 25px;
    margin: 0 10px 0 0;
    padding: 5px 0 0;
    text-align: center;
    width: 15px;
}
.contact-address {
    color: #666666;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
}
.footer-bottom-link {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}
.footer-bottom p {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 20px 0 5px;
    letter-spacing: 1px;
}
.footer .list-title {
    margin: 0px;
    margin-bottom: 5px;
}
.follow {
    padding: 0 0 10px;
    text-align: center;
    width: 100%;
}
.follow ul {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.follow ul.list-unstyled li {
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 5px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.follow ul li a {
    color: #888888;
    padding: 6px 9px;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.follow ul li.facebook > a:hover,
.follow ul li.facebook > a:focus {
    color: #145ab1;
}
.follow ul li.twitter > a:hover,
.follow ul li.twitter > a:focus {
    color: #44d3d8;
}
.follow ul li.rss > a:hover,
.follow ul li.rss > a:focus {
    color: #ff6600;
}
.follow ul li.google-plus > a:hover,
.follow ul li.google-plus > a:focus {
    color: #ff0000;
}
.follow ul li.instagram > a:hover,
.follow ul li.instagram > a:focus {
    color: #f33857;
}

#goToTop:before {
    color: #ffffff;
    content: '\f106';
    font-family: 'FontAwesome';
    font-size: 20px;
}
#goToTop {
    background: #333333;
    border: 2px solid #333333;
    border-radius: 50%;
    bottom: 50px;
    direction: ltr;
    cursor: pointer;
    height: 40px;
    opacity: 1;
    padding: 8px 12px;
    position: fixed;
    right: 100px;
    text-align: center;
    width: 40px;
    z-index: 999;
}
#goToTop:hover {
    background: #0aa38f;
    border-color: #0aa38f;
}
#goToTop:hover:before {
    color: #ffffff;
}
