.success-page {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.success-container {
    box-sizing: border-box;
    width: 800px;
    height: 50%;
    margin: auto;
    padding-top: 10%;
}
.icon-check-container {
    color: #52f300ad;
    font-size: 250px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}
.success-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.check-content {
    font-size: 100px;
    font-weight: 700;
    align-items: center;
    line-height: 100px;
}
.check-description {
    font-size: 47px;
    white-space: normal;
    text-align: center;
    line-height: 75px;
    font-weight: 200;
}
.a-btn {
    text-decoration: none;
    color: black;
}

.a-btn:hover {
    text-decoration: none;
    color: black;
}
.success-btn {
    font-size: 49px;
    text-align: center;
    background-color: #ff4100bf;
    max-width: 450px;
    text-align: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    margin: auto;
    font-weight: 500;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .success-page {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
    }

    .success-container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: auto;
        padding-top: 10%;
    }
    .icon-check-container {
        color: #52f300ad;
        font-size: 135px;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        margin-top: 150px;
    }
    .success-content {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .check-content {
        font-size: 50px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        line-height: 45px;
    }
    .check-description {
        padding-top: 5px;
        font-size: 25px;
        white-space: normal;
        text-align: center;
        line-height: 40px;
        font-weight: 200;
    }

    .success-btn {
        font-size: 25px;
        text-align: center;
        background-color: #ff4100bf;
        max-width: 450px;
        text-align: 20px;
        border-radius: 50px;
        padding: 5px 20px;
        display: flex;
        margin: auto;
        font-weight: 500;
        justify-content: space-around;
    }
}
